<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="fragments/headLink">
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar"></div>

    <h2>Tweets</h2>
    <div th:each="tweet:${tweetList}">
        <h5>@<span th:text="${tweet.user.username}"></span>
            <small><span th:text="${#dates.format(tweet.createdAt, 'MM/dd/yy')}"></span></small></h5>
        <p th:utext="${tweet.message}"></p>
    </div>
</div>
<script th:replace="fragments/scripts"></script>
<script src="https://kit.fontawesome.com/ac1de3bf81.js"
        crossorigin="anonymous"></script></body>
</html>